/node_modules
/.idea
Homestead.json
Homestead.yaml


/app/Console
/app/Exceptions
/app/Http
/app/Providers
/app/User.php
/bootstrap
/config
/database
/public
/resources
/routes
/storage
/tests/Unit
/tests/CreatesApplication.php
/tests/TestCase.php
/vendor
.env
.env.example
artisan.php
package.json
phpunit.xml
server.php
webpack.mix.js